  
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card-body p-sm-4">
        <%= form_with model: @user do |form| %>
          <div class="form-floating mb-3">
            <%= form.text_field :full_name, placeholder: "Username", class: "form-control"%>
            <%= form.label :full_name, "Họ và tên"%>
          </div>
          <div class="form-floating mb-3">
            <%= form.phone_field :phone_number, placeholder: "Phone Number", class: "form-control"%>
            <%= form.label :phone_number, "Số điện thoại"%>
          </div>
          <div class="form-floating mb-3">
            <%= form.text_field :address, placeholder: "Address", class: "form-control"%>
            <%= form.label :address, "Địa chỉ"%>
          </div>
          <div class="d-grid mb-2">
            <%= form.submit "Cập nhật thông tin", class:"btn btn-lg btn-primary btn-login fw-bold text-uppercase" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
