
<section id="pizza">
<div class="container">
    <h2>Pizza</h2>
    <hr>
    <div class="product">
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
      <div class="pizza">
        <%=image_tag("pizza")%>
        <div class="content">
          <p class="name">Pizza Hai San <span>(Size nho)</span></p>
          <p class="description">Tôm, thanh cua, mực và bông cải xanh tươi ngon trên nền sốt Pesto Xanh</p>
          <div class="price_product">
            <p class="price">Giá: <br>
              <span>169.000đ</span></p>
            <button>Them vao gio</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>