<section id="water">
  <div class="container">
    <h2>Nước</h2>
    <hr>
    <div class="product">
      <%@product.each do |produc|%>
        <div class="water">
          <%=image_tag(produc.image_product.url) %>
          <div class="content">
            <p class="name"><%= produc.name%> <span>(<%= produc.size%>)</span></p>
            <p class="description"><%=produc.description%></p>
            <div class="price_product">
              <p class="price">Giá: <br>
                <span><%=produc.price_prodcut%>đ</span></p>
              <button>Them vao gio</button>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>
